<div
  style="
    background-image: url('../../assets/bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div _ngcontent-vdl-c29="" class="flex items-center justify-center">
    <img src="../../assets/logowb.png" style="height: 50px; margin-top: 20px" />
  </div>
  <div class="w-full items-center justify-center">
    <h1
      style="
        font-weight: bold;
        font-size: 40px;
        padding-top: 30px;
        text-align: center;
        line-height: 1.5em;
        font-family: 'custom-font';
      "
    >
      CONNECTING YOU TO THE RIGHT LEADS, FOR THE RIGHT GROWTH
    </h1>
    <h2 style="text-align: center; font-family: 'custom-font'">
      Uncovering new business opportunities with our lead generation services
    </h2>
    <div class="w-full xl:mx-auto xl:w-2/3">
      <img class="xl:mx-auto md:mx-auto" src="../../assets/imagep.png" />
    </div>

    <div
      class="text-xl text-center pt-2 p-3 max-w-[1100px] mx-auto"
      style="font-family: 'custom-font'"
    >
      B2B lead generation is a key strategy for business growth as it helps a
      company increase sales and revenue expand customer base, improve customer
      relationships, target specific segments, increase brand awareness drive
      website traffic and is cost-effective
    </div>
    <!-- style="color: red; font-size: 40px; font-weight: bold; text-align: center; stroke: 10px;   -webkit-text-stroke-width: 1px; -->
    <div class="w-full h-40 md:h-32 lg:h-28">
      <p
        class="tracking-wide text-black-600 font-medium text-center text-4xl"
        style="font-family: 'quicksand'; font-weight: bold  "

      >
        READY TO TAKE NEXT STEP?
      </p>
      <!-- <img src="./../../assets/download2.gif" style="height: 20px;"  class="flex items-center justify-center"> -->
      <div class="flex items-center justify-center">
        <img src="../../assets/download2.gif" style="height: 50px" />
      </div>
      <!-- <div class="bottom-arrow"></div> -->
    </div>

    <div class="flex flex-col items-center justify-center text-center">
      <button
        _ngcontent-vdl-c29=""
        type="submit"
        (click)="redirect()"
        id="kt_sign_in_submit"
        class="bg-blue-500 w-auto h-auto p-6 rounded-full text-white font-md hover:bg-blue-900 text-center justify-center"
      >
        <span
          style="
            font-size: 20px;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
          "
          >Book a free Consultation with us know</span
        >
      </button>
      <p class="w-full text-gray-600 text-sm text-center mx-auto mt-5 p-4">
        Disclaimers for smartgrowbusiness.com All the information on this
        website - http://smartgrowbusiness.com/ - is published in good faith and
        for general information purpose only. smartgrowbusiness.com does not
        make any warranties about the completeness,reliability and accuracy of
        this information. Any action you take upon the information you find on
        this website (smartgrowbusiness.com), is strictly at your own risk.
        smartgrowbusiness.com will not be liable for any lossesand/or damages in
        connection with the use of our website. smartgrowbusiness.com registered
        under the Company Email-Verse smc pvt ltd. Consent By using our website,
        you hereby consent to our disclaimer and agree to its terms.
      </p>
    </div>
  </div>
</div>
