

  <nav style="background-color: rgb(54, 50, 50);" class="navbar navbar-dark navbar-expand-md p-4">
    <a class="navbar-brand" routerLink="/dashboard"><img src="../../assets/logowb.png" height="30px" width="200px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: end;">
        <ul class="navbar-nav justify-content-between" style="align-self: center;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Login as Abdullah
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a style="color: rgb(187, 71, 71);" class="dropdown-item" (click)="onClickLogout()">Logout</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Logout
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a style="color: rgb(187, 71, 71);" class="dropdown-item" (click)="onClickLogout()">Logout</a>
            </div>
          </li>
            
        </ul>
    </div>
</nav>


  <div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="row p-3" >
      
        <!-- <div class="col-12 text-center" >
            <div class="my_div">
                <h6><i style="color: rgb(207, 32, 32);font-size: 18px;" class="bi bi-envelope"></i> {{allowed_sms}} <span style="font-size: 14px;color: rgb(148, 144, 144);" class="d-inline">Remaining</span></h6>
                <hr class="w-50">
            </div>
        </div> -->
    </div>
    </div>